#main{
    margin: 2% 5%;
}
h1{ padding-left: 10px;
    padding-top: 4%;
    width: 30%;
    float:left;
    margin-top: 0%;
}
nav{
    float: right;
    width: 40%;
}
ul{
    padding-top: 0%;
    list-style: none;
    float: right;
}
li{
    float: left;
    margin: 0px 5px;
}
